<h1>Site Selection</h1>

<%= form_with(model: @site, local: true) do |form| %>
  <%= form.label :Site%>
  <%= form.select :SiteLongName, options_for_select(@sites.map { |site| [site.SiteLongName, site.SiteID] }), {}, class: "site-select" %>


  <div class="form-group">
    <%= form.label :Area %>
    <%= form.select :SiteArea , {}, {}, class: "site-area-select" %>
  </div>

 <div class="form-group">
    <%= form.label :Room %>
    <%= form.select :SiteRoom, {}, {}, class: "site-room-select" %>
  </div>

  <%= form.submit %>
<% end %>

<script>
  $(function() {
    $(".site-select").on("change", function() {
      var site_id = $(this).val();
      
      $.ajax({
        type: "GET",
        url: "/sites/site_areas_by_site",
        data: { site_id: site_id },
        dataType: "json",
        success: function (data) {
          var options = "";
          data.forEach(function(site_area) {
            options += "<option value='" + site_area.SiteAreaID + "'>" + site_area.AreaCommonName + "</option>";
          });
          $(".site-area-select").html(options);
        }
      });
    });
  });
</script>

<script>
  $(function() {
    $(".site-area-select").on("change", function() {
      var siteAreaId = $(this).val();
      console.log("Selected Site Area ID:", siteAreaId); 
      $.ajax({
        url: "/site_areas/site_rooms_by_area",
        type: "GET",
        data: { site_area_id: siteAreaId },
        success: function(data) {
          var options = "";
          data.forEach(function(site_room) {
            options += "<option value='" + site_room.SiteRoomID + "'>" + site_room.RoomCommonName + "</option>";
          });
          $(".site-room-select").html(options);
        }
      });
    });
  });
</script>

<script>
$(function() {
  $(".site-room-select").on("change", function() {
    var siteRoomId = $(this).val();
    console.log("Selected Site Room ID:", siteRoomId); // Add this line to check the value
    $.ajax({
      url: "/site_rooms/assets_by_room",
      type: "GET",
      data: {site_room_id: siteRoomId},

      dataType: "json",
      success: function(data) {
        var tableHTML = "<table>";

        // Generate table headers
        tableHTML += "<thead><tr><th>Asset ID</th><th>Asset Name</th><th>Vibration Analyzed</th>...</th></tr></thead>";

       // Generate table rows with asset data
        tableHTML += "<tbody>";
        data.forEach(function(asset) {
        tableHTML += "<tr><td>" + asset.AssetID + "</td><td>" + asset.AssetCommonName + "</td><td>" + asset.IsVibrationAnalyzed +"</td><td>...</td></tr>";
        });
        tableHTML += "</tbody>";

        tableHTML += "</table>";

        // Update the content of the table container element with the generated HTML
        $(".table-container").html(tableHTML);
        }
      })
    });
  });
</script>
<div class="table-container"></div>